In [1]:
import numpy as np
import pandas as pd

In [2]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
df = pd.DataFrame(arr,columns=['a','b','c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
ser = df.a-df.b
ser,type(ser)

(0   -1
 1   -1
 2   -1
 dtype: int32,
 pandas.core.series.Series)

In [26]:
ar1=np.array([[1,2],[1,2]])
ar2=np.array([[3,4,1],[5,6,2]])
ar3=ar1.dot(ar2)
ar3,np.transpose(ar2)

(array([[13, 16,  5],
        [13, 16,  5]]),
 array([[3, 5],
        [4, 6],
        [1, 2]]))

In [29]:
ar4 = np.dot(ar1,np.transpose(ar2))
ar4

ValueError: shapes (2,2) and (3,2) not aligned: 2 (dim 1) != 3 (dim 0)

In [13]:
ar5=np.transpose(ar1).dot(ar2)
ar5

26

In [14]:
ar6=ar1*ar2
ar6

array([ 3,  8, 15])

In [ ]:
ar7=